<header class="p-1 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img class="bi me-2" width="30" height="30" src="assets/logo.png"/>
        <span class="fs-4">TimeTable</span>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/main/table" (click)="nav(['main', 'table'])" class="nav-link px-2 link-dark">Расписание</a></li>
        <li><a href="/main/teacher" (click)="nav(['main', 'teacher'])" class="nav-link px-2 link-dark">Преподаватели</a></li>
        <li><a href="/main/course" (click)="nav(['main', 'course'])" class="nav-link px-2 link-dark">Курсы по выбору</a></li>
      </ul>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="fs-4">{{user.institute.short_name}} ({{user.institute.university.short_name}})</span>
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser">
          <li><a class="dropdown-item" href="#">Аккаунт</a></li>
          <li><a class="dropdown-item" target="_blank" rel="noopener" href="{{user.institute.university.link}}">Сайт универа</a></li>
          <li><a class="dropdown-item" target="_blank" rel="noopener" href="{{user.institute.link}}">Сайт института</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/signIn" (click)="signOut()">Выйти</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div *ngIf="error" class="text-center alert alert-warning" role="alert">
  <span class="warning-title fs-5">{{error}}</span>
  <a href="#" (click)="reloadTable()" class="link-dark fs-5">Перезагрузить</a>
</div>
<router-outlet *ngIf="data"></router-outlet>
<div *ngIf="!data && !error" class="alert alert-info" role="alert">
  Загрузка таблицы...
</div>
<script src="assets/scripts/http_cdn.jsdelivr.net_npm_bootstrap-select@1.13.14_dist_js_bootstrap-select.js" defer></script>
<script src="src/assets/scripts/5.1.3_dist_js_bootstrap.bundle.js" defer></script>
